# Ignore virtual environment
.venv/

# Ignore Python cache
__pycache__/

# Ignore datasets
*.csv
HiSeqV2*

# Ignore model weights
*.pth
*.pt

# Ignore large library files
*.dll
*.lib
.venv/
*.pth
*.csv
HiSeqV2
__pycache__/
