# Virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Model weights
*.pth
*.pt

# Datasets
*.csv
*.tsv
*.h5
*.npz
*.npy
*.xls*
*.xlsx
HiSeqV2*

# Logs
*.log
*.out

# OS files
.DS_Store
Thumbs.db

